.garbanzo_castellano {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_castellano.jpg');
}

.garbanzo_gordo_especial {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_gordo_especial.jpg');
}

.garbanzo_lechoso {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_lechoso.jpg');
}

.garbanzo_pedrosillano_de_salamanca {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_pedrosillano_de_salamanca.jpg');
}

.garbanzo_pedrosillano {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_pedrosillano.jpg');
}