.garbanzo_castellano {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_castellano.jpg');
}

.garbanzo_gordo_especial {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_gordo_especial.jpg');
}

.garbanzo_lechoso {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_lechoso.jpg');
}

.garbanzo_pedrosillano_de_salamanca {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_pedrosillano_de_salamanca.jpg');
}

.garbanzo_pedrosillano {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/garbanzo_pedrosillano.jpg');
}



.alubia-arrocina {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-arrocina.jpg');
}

.alubia-canela {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-canela.jpg');
}
.alubia-caparron-redondo {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-caparron-redondo.jpg');
}
.alubia-caparron {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-caparron.jpg');
}
.alubia-carilla {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-carilla.jpg');
}
.alubia-de-la-virgen {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-de-la-virgen.jpg');
}
.alubia-fabada {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-fabada.jpg');
}

.alubia-ganchet {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-ganchet.jpg');
}
.alubia-judion-granja {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-judion-granja.jpg');
}
.alubia-larga {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-larga.jpg');
}

.alubia-morada-larga {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-morada-larga.jpg');
}    

.alubia-negra-tolosa {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-negra-tolosa.jpg');
}

.alubia-negrita {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-negrita.jpg');
}

.alubia-ochavada-de-salamanca {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-ochavada-de-salamanca.jpg');
}
.alubia-palmena-redonda {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-palmena-redonda.jpg');
}
.alubia-pinta-larga-machotes {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-pinta-larga-machotes.jpg');
}
.alubia-pinta {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-pinta.jpg');
}
.alubia-plancheta-de-leon {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-plancheta-de-leon.jpg');
}

.alubia-redonda-manteca {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-redonda-manteca.jpg');
}

.alubia-plancheta-de-leon {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-plancheta-de-leon.jpg');
}

.alubia-plancheta {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-plancheta.jpg');
}

.alubia-rinon-de-leon {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-rinon-de-leon.jpg');
}

.alubia-rinon {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-rinon.jpg');
}

.alubia-roja-redonda{
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-roja-redonda.jpg');
}

.alubia-verdina {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/alubia-verdina.jpg');
}

.lenteja-beluga  {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-beluga.jpg');
}

.lenteja-castellana {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-castellana-de-salamanca.jpg');
}

.lenteja-pardina {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-pardina.jpg');
}

.lenteja-verdina {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-verdina.jpg');    
}


.lenteja-pelada-entera {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-pelada-entera.jpg');   
}

.lenteja-pelada-partida {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/lenteja-pelada-partida.jpg');   
}

.quinoa {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/quinoa.jpg');    
}


.soja {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/soja.jpg');    
}


.guisante_verde_seco {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/guisante_verde_seco.jpg');    
}


.guisante_verde_partido {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('img/guisante_verde_partido.jpg');    
}






