.m-header {
	* > :last-child { 
		margin-bottom: 0 !important; 
		margin-right: 0 !important; 
	}
	@media(max-width:990px) {
    	height:250px;
	}
	@media(max-width:560px) {
		height:280px;
	}
	&-logo {
		margin-top: 2%;
		width: 20%;
		margin-bottom: 3%;
		@media(max-width:560px) {
			width: 30%;
    		margin-bottom: 10%;
		}
	}
	&-nav {
		font-size: 1.2rem;
		a {
			margin-right: 1.5rem;
			color: #504f4f !important;
			border: 3px solid #504f4f;
			padding:10px;
			cursor: pointer;
			&:hover {
				text-decoration: none;
				background: $mar-base_color;
				border: 3px solid white;
			}
		}
	}
	&-bags {
		position: relative;
		bottom: -100px;
		width: 70%;
		margin: 0 auto;
		.bag{
			&-product{
				&-1 {
					position: relative;
					bottom: 0px;
					transition-property: bottom;
  					transition-duration: 0.2s;
  					transition-timing-function: linear;
					&:hover {
						bottom: 30px;
					}
				}
				&-2 {
					position: relative;
					bottom: 0px;
					transition-property: bottom;
  					transition-duration: 0.2s;
  					transition-timing-function: linear;
					&:hover {
						bottom: 30px;
					}
				}
				&-3 {
					position: relative;
					bottom: 0px;
					transition-property: bottom;
  					transition-duration: 0.2s;
  					transition-timing-function: linear;
					&:hover {
						bottom: 30px;
					}
				}
			}
		}
	@media(max-width:990px) {
        	display:none;
		}
	}
}
