.garbanzo-1 {
    position: relative;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('/img/logo_marcos.png');
}