---
layout: home
---

/ Navigation
%a#menu-toggle.btn.btn-dark.btn-lg.toggle{:href => "#"}
  %i.fa.fa-bars
%nav#sidebar-wrapper
  %ul.sidebar-nav
    %a#menu-close.btn.btn-light.btn-lg.pull-right.toggle{:href => "#"}
      %i.fa.fa-times
    %li.sidebar-brand
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Start Bootstrap
    %li
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Home
    %li
      %a{:href => "#about", :onclick => "$(\"#menu-close\").click();"} About
    %li
      %a{:href => "#services", :onclick => "$(\"#menu-close\").click();"} Services
    %li
      %a{:href => "#portfolio", :onclick => "$(\"#menu-close\").click();"} Portfolio
    %li
      %a{:href => "#contact", :onclick => "$(\"#menu-close\").click();"} Contact
/ Header
%header#top.header.m-header
  .text-vertical-center
    %img.m-header-logo.img-portfolio.img-responsive{:src => "img/logo_marcos.png"}
    %nav.m-header-nav
      %a Alubias
      %a Legumbres
      %a Garbanzos
    %h3 Free Bootstrap Themes &amp; Templates
    %br
      %a.btn.btn-dark.btn-lg{:href => "#about"} Find Out More
%section.m-mar-card
  .photo
  .description
    .line
      %h1.product_name Card Title
      %h1.product_price €10
    %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.
    %a{:href => "//s.codepen.io/ImagineAlex"} Read More
%section.m-mar-card
  .photo.photo--right
  .description
    .line
      %h1.product_name Card Title
      %h1.product_price €10
    %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.
    %a{:href => "//s.codepen.io/ImagineAlex"} Read More     
/ About
%section#about.about
  .container
    .row
      .col-lg-12.text-center
        %h2 Stylish Portfolio is the perfect theme for your next project!
        %p.lead
          This theme features some wonderful photography courtesy of
          = succeed "." do
            %a{:href => "http://join.deathtothestockphoto.com/", :target => "_blank"} Death to the Stock Photo          
%section#services.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        %h2 Our Services
        %hr.small
          .row
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-cloud.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-compass.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-flask.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-shield.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
%aside.callout
  .text-vertical-center
    %h1 Vertically Centered Text
%section#portfolio.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Our Work
        %hr.small
          .row
            .col-md-6
              .portfolio-item
                %a{:href => "#"}
                  %img.img-portfolio.img-responsive{:src => "img/portfolio-1.jpg"}
            .col-md-6
              .portfolio-item
                %a{:href => "#"}
                  %img.img-portfolio.img-responsive{:src => "img/portfolio-2.jpg"}
            .col-md-6
              .portfolio-item
                %a{:href => "#"}
                  %img.img-portfolio.img-responsive{:src => "img/portfolio-3.jpg"}
            .col-md-6
              .portfolio-item
                %a{:href => "#"}
                  %img.img-portfolio.img-responsive{:src => "img/portfolio-4.jpg"}
          %a.btn.btn-dark{:href => "#"} View More Items
%aside.call-to-action.bg-primary
  .container
    .row
      .col-lg-12.text-center
        %h3 The buttons below are impossible to resist.
        %a.btn.btn-lg.btn-light{:href => "#"} Click Me!
        %a.btn.btn-lg.btn-dark{:href => "#"} Look at Me!
%section#contact.map
  %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed", :width => "100%"}
  %br/
  %small
    %a{:href => "https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"}
%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong Start Bootstrap
        %p
          3481 Melrose Place
          %br Beverly Hills, CA 90210
        %ul.list-unstyled
          %li
            %i.fa.fa-phone.fa-fw
            (123) 456-7890
          %li
            %i.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:name@example.com"} name@example.com
        %br
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook.fa-fw.fa-3x
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter.fa-fw.fa-3x
            %li
              %a{:href => "#"}
                %i.fa.fa-dribbble.fa-fw.fa-3x
          %hr.small
            %p.text-muted Copyright &copy; Your Website 2014            