---
layout: home
---

/ Navigation
%a#menu-toggle.btn.btn-dark.btn-lg.toggle{:href => "#"}
  %i.fa.fa-bars
%nav#sidebar-wrapper
  %ul.sidebar-nav
    %a#menu-close.btn.btn-light.btn-lg.pull-right.toggle{:href => "#"}
      %i.fa.fa-times
    %li.sidebar-brand
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Start Bootstrap
    %li
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Home
    %li
      %a{:href => "garbanzos.html", :onclick => "$(\"#menu-close\").click();"} Garbanzos
    %li
      %a{:href => "#services", :onclick => "$(\"#menu-close\").click();"} Services
    %li
      %a{:href => "#portfolio", :onclick => "$(\"#menu-close\").click();"} Portfolio
    %li
      %a{:href => "#contact", :onclick => "$(\"#menu-close\").click();"} Contact
/ Header
%header#top.header.m-header
  .text-vertical-center
    %img.m-header-logo.img-portfolio.img-responsive{:src => "img/logo_marcos.png"}
    %nav.m-header-nav
      %a Legumbres
      %a Alubias
      %a Garbanzos
  .row.m-header-bags
    .col-md-4.bag-product-1    
      %img{:src => "img/header_alubia.jpg"}
    .col-md-4.bag-product-2    
      %img{:src => "img/header_alubia.jpg"} 
    .col-md-4.bag-product-3    
      %img{:src => "img/header_alubia.jpg"}
%section.m-mar-card.m-mar-card--big
  .photo
  .description
    .line
      %h1.subtitle ¿Quienes somos?
      %h4 Conoce nuestra empresa
      //%h1.product_price €10
    %p.summary Legumbres Mariano Marcos, S. L. es una empresa familiar, situada en la comarca de La Armuña, provincia de Salamanca, dedicada a la comercialización de lentejas, garbanzos y alubias procedentes en su mayor parte de esta comarca que, debido a su peculiar clima y a la riqueza de sus suelos, son tan apreciadas en el mercado.</br>Con modernas instalaciones y maquinaria, las materias primas son sometidas a un riguroso control de análisis y selección, almacenamiento y posterior envasado. Todo el proceso se realiza de una forma natural, sin añadir ni utilizar ningún tipo de producto químico, respetando todas las cualidades nutritivas originarias del producto y suministrándolo en las mejores condiciones para poder cumplir nuestro primordial objetivo: <b>satisfacer al cliente</b>.
%section.row
  %img.img-responsive.centered{:src => "img/bodegon_2.jpg"}   
%section.m-mar-card
  .photo.photo--right
  .description
    .line
      %h1.subtitle.centered Card Title
    %p.summary Desde aquí quisieramos agradecer su conﬁanza en nuestra marca y, esperamos poder servirle en todo cuanto necesite. Gracias por dedicar su tiempo a conocernos.
    .centered
      %button Contacta con nostros 
%section.m-mar-card--maps.row
  .col-md-4.col-xs-12
    .photo--map
  .col-md-8.col-xs-12
    .description--maps
      .line
        %h1.subtitle ¿Quienes somos?
        %h4 Conoce nuestra empresa
      %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.        
%footer.row.m-mar-footer
  %img.img-responsive.footer-logo{:src => "img/logo_marcos.png"}
  %img.img-responsive.img-full{:src => "img/footer_castilla.svg"}   
