---
layout: home
---

/ Navigation
%a#menu-toggle.btn.btn-dark.btn-lg.toggle{:href => "#"}
  %i.fa.fa-bars
%nav#sidebar-wrapper
  %ul.sidebar-nav
    %a#menu-close.btn.btn-light.btn-lg.pull-right.toggle{:href => "#"}
      %i.fa.fa-times
    %li.sidebar-brand
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Start Bootstrap
    %li
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Home
    %li
      %a{:href => "#about", :onclick => "$(\"#menu-close\").click();"} About
    %li
      %a{:href => "#services", :onclick => "$(\"#menu-close\").click();"} Services
    %li
      %a{:href => "#portfolio", :onclick => "$(\"#menu-close\").click();"} Portfolio
    %li
      %a{:href => "#contact", :onclick => "$(\"#menu-close\").click();"} Contact
/ Header
%header#top.header.m-header
  .text-vertical-center
    %img.m-header-logo.img-portfolio.img-responsive{:src => "img/logo_marcos.png"}
    %nav.m-header-nav
      %a Legumbres
      %a Alubias
      %a Garbanzos
  .row.m-header-bags
    .col-md-4.bag-product-1    
      %img{:src => "img/header_alubia.jpg"}
    .col-md-4.bag-product-2    
      %img{:src => "img/header_alubia.jpg"} 
    .col-md-4.bag-product-3    
      %img{:src => "img/header_alubia.jpg"}
%section.m-mar-card
  .photo
  .description
    .line
      %h1.subtitle ¿Quienes somos?
      %h4 Conoce nuestra empresa
      //%h1.product_price €10
    %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.
%section.row
  %img.img-responsive.centered{:src => "img/bodegon_2.jpg"}   
%section.m-mar-card
  .photo.photo--right
  .description
    .line
      %h1.subtitle.centered Card Title
      //%h1.product_price €10
    %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it.
    //%a{:href => "//s.codepen.io/ImagineAlex"} Read More
    .centered
      %button Contacta con nostros 
%section.m-mar-card--maps
  .photo--map 
  .description--maps
    .line
      %h1.subtitle ¿Quienes somos?
      %h4 Conoce nuestra empresa
      //%h1.product_price €10
    %p.summary An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.        
%footer.row.m-mar-footer
  %img.img-responsive.img-full{:src => "img/footer_castilla.svg"}   
